
*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: black;
}
.logo{
   display:flex;
   height: 70px; 
   margin-right: 10px;
   align-items: center;
   gap: 10px;
   
}
.logo img{
    height: 50px;
    border-radius: 50%;
}
.logo h1{
    color: white;
}


nav a{
    color: white;
    margin: 0 15px;
    font-weight: 500;
    text-decoration: none;
}
nav a:hover{
    color: #39ff14;
}
.hero{
    background-image: url(".//heroimg.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top center;
}
.hero-content h1 {
    color: #39FF14; 
    text-shadow: 0 0 10px #39FF14, 0 0 20px #39FF14, 0 0 30px #39FF14;
}
.hero-content p{
    font-weight:bolder;
    font-size: 20px;
    color:white;
}


.hero-content {
    color: white;
    text-align: center;
    padding: 20px;
}
